  .snake-form-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin-top: 20px;
        }

        .form_bottom {
            text-align: center;
            margin: 30px 0;
        }

        .action-buttons {
            margin-bottom: 26px;
            display: flex;
            justify-content: space-between;
            column-gap: 6px;
        }

        .fusion-woo-cart .fusion-button-wrapper {
            display: flex;
            align-items: center;
            margin-top: 1.2em;
            margin: auto;
            justify-content: center;
        }

        .total__price {
            font-size: 22px;
            font-weight: 700;
            margin: 26px 0;

        }

        .section-separator {
            display: flex;
            align-items: center;
            text-align: center;
            margin: 30px 0;
            color: #666;
            font-size: 14px;
        }

        .section-separator::before,
        .section-separator::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid #ccc;
            margin: 0 10px;
        }
.snake-form-container .snake-form:first-child .delete-snake {
    display: none!important;
}
        .delete-snake {
            color: rgb(255 255 255);
            font-size: 18px;
            width: 18px;
            background-color: #F44336;
            border-color: #E53935;
            border-radius: 50px;
            width: 42px;
            height: 42px;
            border: none;
            position: absolute;
            top: -15px;
            right: -15px;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            .snake-form-container {
                grid-template-columns: 1fr;
            }
        }

        @media (max-width: 500px) {
            .action-buttons {

                /* flex-wrap: nowrap; */
                flex-direction: column;
                row-gap: 10px;
            }
        }

        .snake-form {
            border: 1px solid #ccc;
            padding: 1rem;
            margin-bottom: 1rem;
            position: relative;
        }

        .action-buttons button {
            width: 100%;
            padding: 5px 15px;
        }

        .snake-form {
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 10px;
            background: #f9f9f9;
        }

        .snake-tests {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }

        .snake-tests label {
            position: relative;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
        }

        .snake-tests label input[type="checkbox"] {
            display: none;
        }

        .snake-tests label span {
            padding: 2px 10px;
            border: 2px solid #ccc;
            border-radius: 20px;
            transition: all 0.3s ease;
            background: #fff;
            font-weight: 500;
        }

        .snake-tests label input[type="checkbox"]:checked+span {
            background-color: var(--awb-color5);
            color: white;
            border-color: var(--awb-color5);

        }

        .upload-content {
            border: 2px dashed #ccc;
            padding: 30px;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
            transition: background 0.2s ease;
        }

        .upload-content.dragover {
            background-color: #f0f8ff;
            border-color: #007bff;
        }

        .upload-icon {
            margin-bottom: 15px;
            color: #007bff;
        }

        .upload-title {
            font-size: 18px;
            margin: 10px 0 5px;
        }

        .upload-subtitle {
            font-size: 14px;
            color: #777;
            margin-bottom: 15px;
        }

        .upload-button {
            padding: 10px 20px;
            font-size: 14px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

        .upload-button:hover {
            background-color: #0056b3;
        }
         .test_cost {margin-bottom: 0!important;}
        .test_cost strong    {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
    .test_subtotal strong    {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.single_add_to_cart_button {
  display: none ;
}
.action-buttons .button.active{background-color: #000;}
.snake-tests-message a{
          font-weight: 700;
    color: #5745a5;
    border: 1px dashed;
    padding: 5px;
}